// COLORES
$primary1: #FF8B00;
$primary2: #eb260c;
$soft-primary:  #ff8c009f;
$color-title: #f4f4f4;
$dark-gray: #504e4e94;
$soft-gray: #616161;
$border-orange: solid #df4204;

// TEXTO desktop
$text:30px;

// PADDING desktop
$pad: 30px;


